- var titulo = ['Murzan México', 'Murzan Brasil']
- var descripcion = ['Sistemas integrales para el procesamiento, manejo y trasvase de producto terminado y materias primas para las industrias alimenticia, cosmética, farmacéutica y biotecnológica.', 'Sistemas integrais para o processamento, manuseio e transferência de produtos acabados e matérias-primas para as indústrias alimentícia, cosmética, farmacêutica e de biotecnologia.']

- var menu_n = ['Nosotros', 'Nós']
- var menu_r = ['Representaciones', 'Representações']
- var menu_np = ['Nuestros productos', 'Nossos produtos']
- var menu_c = ['Contacto', 'Entre em contato']

- var foot_add_t = ['MURZAN MÉXICO S.A. DE C.V.', 'MURZAN BRASIL']
- var foot_add_t2 = ['Coscomate #199. Colonia Bosques de Tetlameya. Delegación: Coyoacán. CP: 04730 México D.F.', 'Coscomate #199. Colonia Bosques de Tetlameya. Delegación: Coyoacán. CP: 04730 México D.F.']
- var foot_add_t3 = ['Teléfonos: (55)5528-2384, (55)5528-2357, (55)5528-2367', 'Telefones: (55)5528-2384, (55)5528-2357, (55)5528-2367']
- var foot_add_t4 = ['Fax: (55)5665-2217', 'Fax: (55)5665-2217']
- var foot_add2_t = ['MURZAN INC. USA (Casa Matriz)', 'MURZAN INC. USA (Sede)']
- var foot_add2_t2 = ['2909 Langford Rd. 1-700. Norcross GA 30071. U.S.A.', '2909 Langford Rd. 1-700. Norcross GA 30071. U.S.A.']
- var foot_add2_t3 = ['Teléfono: (770) 448-0583', 'Telefones: (770) 448-0583']
- var foot_add2_t4 = ['Fax: (700) 448-0967', 'Fax: (700) 448-0967']

- var foot_productos = ['PRODUCTOS', 'PRODUTOS']
- var foot_representaciones = ['REPRESENTACIONES', 'REPRESENTAÇÕES']

- var foot_reps = [[['ANDERSON', 'Instrumentos Sanitarios'],['SAINT GOBAIN', 'Mangueras Sanitarias'], ['TYGON','Mangueras y Tubing'], ['FLUX', 'Bombas Sanitarias e Industriales'], ['IKA', 'Emulsificadores'], ['STREAMLINE', 'Mezcladoras y Agua-Vapor']],[['ANDERSON', 'Instrumentos Sanitários'],['SAINT GOBAIN', 'Mangueiras Sanitárias'], ['TYGON','Mangueiras e Tubulação'], ['FLUX', 'Bombas Sanitárias e Industriais'], ['IKA', 'Emulsificadores'], ['STREAMLINE', 'Misturadores e Água a Vapor']]]


- var copy = ['Copyright© 2018 Murzan México S.A. de C.V. Todos los Derechos Reservados.', 'Copyright© 2018 Murzan Brasil. Todos os direitos reservados.']


- var slider1_title = ['Diseños basados en soluciones', 'Designs baseados em soluções'] 
- var slider1_txt = ['Sistemas integrales para el procesamiento, manejo y trasvase de producto terminado y materias primas para las industrias alimenticia, cosmética, farmacéutica y biotecnológica, nos dedicamos desde 1980 a resolver sus problemas de bombeo de fluídos con altas viscosidades y fluidos con sólidos en suspensión sin dañar las estructuras de las partículas.', 'Sistemas abrangentes para processamento, manuseio e transferência de produtos acabados e matérias-primas para as indústrias alimentícia, cosmética, farmacêutica e de biotecnologia, desde 1980 nos dedicamos a resolver seus problemas de bombeamento de fluidos com altas viscosidades e fluidos com sólidos suspensos sem danificar estruturas das partículas.']
- var slider1_btn = ['Leer más', 'Ler mais']

- var pleca_ind = ['INDUSTRIAS QUE ATENDEMOS', 'INDÚSTRIAS QUE ATENDEMOS']
- var pleca_comida = ['Comida', 'Alimento']
- var pleca_bebidas = ['Bebidas', 'Bebidas']
- var pleca_aves = ['Aves, Carnes y Mariscos', 'Aves, Carne e Frutos do Mar']
- var pleca_farma = ['Farmacéutico', 'Farmacêutico']
- var pleca_cosme = ['Cosméticos', 'Cosméticos']

- var bienvenidos_title = ['Bienvenido a Murzan México', 'BEM VINDOS AO MURZAN BRASIL']
- var bienvenidos_subtitle = ['Sistemas integrales', 'Sistemas integrados']
- var bienvenidos_txt = ['Procesamiento, manejo y trasvase de producto terminado y materias primas para las industrias alimenticia, cosmética, farmacéutica y biotecnológica, nos dedicamos desde 1980 a resolver sus problemas de bombeo de fluídos con altas viscosidades y fluidos con sólidos en suspensión sin dañar las estructuras de las partículas.', 'Processamento, manipulação e transferência de produto acabado e matérias primas para as industrias alimentícias, bebidas, frigoríficas, farmacêuticas, cosméticas, químicas e bioquímicas. Nos dedicamos desde o ano de 1980 para resolver problemas com bombeamento de fluídos de altas viscosidades e com sólidos em suspensão sem danificar a estrutura das partículas.']



- var nos_title = ['MURZAN México S.A. de C.V.', 'MURZAN BRASIL']
- var nos_txt = ['Por más de 20 años productores han usado las bombas <strong>MURZAN</strong> y los sistemas <strong>MURZAN</strong> para enriquecer y desarrollar sus procesos de producción. Las bombas <strong>MURZAN</strong> son utilizadas para transferir productos líquidos y también viscosos con partículas en suspensión sensibles a los esfuerzos mecánicos como: Yogurth con fruta, cuajadas de queso, pechugas de pollo marinadas, mermeladas, frijoles charros, salsas, frutas en trozos, cremas, etc. <strong>MURZAN</strong> además le ofrece sistemas para el vaciado de productos viscosos como: Concentrados de frutas, pastas de tomate, vaselina, productos cosméticos y en general productos de difícil bombeo y manejo.', 'Por mais de 20 anos as fábricas estão utilizando bombas e sistemas <strong>MURZAN</strong> para enriquecer e desenvolver seus processos de produção. As bombas <strong>MURZAN</strong> são utilizadas para transferir produtos líquidos, viscosos e com partículas em suspensão sensíveis à esforços mecânicos, tais como: Iogurte com polpa de fruta, coalhadas, peitos de frango marinado, geleias, molhos com pedaços, cremes, etc. A <strong>MURZAN</strong> também oferece sistemas para descarregamento de produtos viscosos, tais como: Concentrados de frutas e vegetais, polpa de tomate concentrada, vaselina, produtos cosméticos e produtos com alto nível de dificuldades no bombeamento e manuseamento.']
- var nos_plantas = ['<strong>MURZAN</strong> tiene plantas de manufactura en Atlanta USA, Orly Francia, en la Ciudad de México y tiene distribuidores en más de 50 países.', 'A <strong>MURZAN</strong> possui fábricas em Atlanta-GA USA, Orly França, Cidade do México-DF México e está presente em mais de 50 países através de nossos distribuidores.']
- var nos_apl = ['Nuestras aplicaciones incluyen:', 'Algumas de nossas aplicações incluem:']
- var nos_table = [["Queso Cottage","Cuajadas de Quesos","Cremas","Yogurt","Concentrados de frutas","Pasta de tomate","Pasta de cacahuate","Sopas de verduras","Tomate en cubos","Catsup","Mostaza","Mayonesa","Carne molida","Piña en trozos","Rellenos para pasteles","Aderezos","Salsas con trozos","Frutas en trozos","Rellenos para pasteles","Glucosa","Jarabes","Hígados y viseras de pollo","Corazones y mollejas de pollo.","Huevos cocidos","Salsas para carne","Cosméticos","Ungüentos","Cremas faciales","Colágeno","Plasma","Pasta de dientes","Lociones para manos","Suspensiones","Emulsiones","Geles","Shampoos"], ["Queijo cottage", "Coalhadas de queijo", "QuesoCremes","Iogurte","Concentrados de frutas e vegetais","Polpa de tomate concentrada","Pasta de amendoim Sopa de vegetais", "Tomates em cubos Ketchup","Mostarda","Maionese","Abacaxi em pedaços","Frigoríficas", "Bovino", "Aves", "Suínos", "Pescados","Sangue","Carne moída","CMS (Carne Mecanicamente Separada)","Peito","Cabeça","Ovos cozidos com cascas", "Pedaços de peixes","Higiene e Cosméticos", "Pomadas","Cremes faciais", "Cremes dentais", "Colágeno Plasma","Pasta de dentes", "Loções para as mãos", "Emulsões","Géis","Shampoos"]]
- var nos_mision_title = ['Nuestra Misión', 'Nossa Missão']
- var nos_mision_txt = ['Suministrar bienes de capital y servicios para la industria alimenticia, conformados con la más alta calidad, de tal manera que nuestros clientes los perciban como únicos.', 'Fornecer bens de capital e serviços para indústria alimentícia, conforme a mais alta qualidade de maneira que nossos clientes nos considerem únicos. Suministrar bienes de capital y servicios para la industria alimenticia, conformados con la más alta calidad, de tal manera que nuestros clientes los perciban como únicos.']
- var nos_obj_title = ['Nuestros objetivos', 'Nosso Objetivo']
- var nos_obj_txt = ['Proporcionar a nuestros clientes un producto y servicio innovador, de calidad uniforme que satisfaga consistentemente sus expectativas, buscando que los precios sean los justos.', 'Fornecer aos nossos clientes produtos inovadores e serviços de qualidade uniforme que satisfaça consistentemente suas expectativas e preços justos.']


- var rep_txt = ['MURZAN México le ofrece los productos de las siguientes compañías:', 'MURZAN BRASIL representa os produtos das seguintes companhias:']


- var rep_imgs = ['r_anderson.gif', 'r_saint.gif', 'r_tygon.jpg', 'r_ika.gif', 'r_flux.gif', 'r_swe.gif', 'r_nederman.gif', 'r_venair.gif']
- var rep_titles = [['ANDERSON. Instrumentos Sanitarios para Procesos alimenticios, farmacéuticos y biotecnológicos.', 'SAINT-GOBAIN', 'Tygon', 'IKA', 'FLUX. Bombas sanitarias e industriales', 'STREAMLINE', 'NEDERMAN', 'VENAIR MANGUERAS SANITARIAS'], ['ANDERSON. Instrumentos sanitários para processos alimentícias, bebidas, frigoríficas, farmacêuticas, cosméticas, químicas e bioquímicas', 'SAINT-GOBAIN', 'Tygon', 'IKA', 'FLUX. Bombas sanitárias e industriais', ' STREAMLINE', 'NEDERMAN', 'VENAIR MANGUEIRAS SANITÁRIAS']]

- var rep_txts = [['Manómetros y Termómetros analógicos y digitales, transmisores de presión y temperatura, medidores de flujo magnéticos, desplazamiento positivo, de turbina y masícos.', 'Mangueras Sanitarias y coples re usables para aplicaciones de procesos alimenticios y farmacéuticos en donde se requiera  de alta pureza.', 'Mangueras y Tubing sanitarios para la aplicación de procesos farmacéuticos y alimenticios.', 'Equipo high shear para hidratación  de gomas y carbopoles, Emulsificadores para emulsiones aceite-agua, agua-aceite, molinos coloidales y equipos de mezclado convencional y mezclado en línea. ', 'Bombas eléctricas o neumáticas en diferentes materiales y tamaños para trasiego de fluidos de diferentes viscosidades envasados en contenedores cilíndrico o cúbicos.', 'Mezcladoras  agua fría-vapor, agua fría-agua caliente en materiales de bronce y acero inoxidable, pistolas de aspersión en diferentes materiales.', 'Carretes en acero inoxidable y en acero al carón para enrollar mangueras, sistemas de extracción de humos y polvos en áreas como laboratorios y talleres.', 'Fabricación e ingeniería de tubos flexibles  con diferentes tipos de conexiones sanitarias  Triclamp, Din y Bevel Seat y otras mas.'], ['Manômetros e termômetros analógicos e digitais; Transmissores de pressão e temperatura; Medidores de vazão magnéticos, turbinas e mássicos.', 'Mangueiras sanitárias e acoplamentos reutilizáveis para processamento de alimentos e aplicações farmacêuticas onde é exigida alta pureza.', 'Mangueiras e tubos sanitários para a aplicação de processos farmacêuticos e alimentares.', 'Equipamentos High Shear para hidratação de gomas e carbopoles, emulsificantes para emulsões óleo-água, óleo de água, moinhos coloidais e equipamentos de mistura convencionais e mistura on-line.', 'Bombas elétricas ou pneumáticas em diferentes materiais e tamanhos para transferência de fluidos de diferentes viscosidades embaladas em recipientes cilíndricos ou cúbicos.', 'Misturadores de água fria a vapor, água quente de água fria em materiais de bronze e aço inoxidável, pistolas de pulverização em diferentes materiais.', 'Bobinas em aço inox e aço para o carón para enrolar mangueiras, sistemas de extração de fumaça e poeira em áreas como laboratórios e oficinas.', 'Fabricação e engenharia de tubos flexíveis com diferentes tipos de conexões sanitárias Triclamp, Din e Bevel Seat e outros.']]


- var cont_1 = ['En MURZAN estamos esperando atender a todas sus dudas y comentarios acerca de nuestros productos.', 'A MURZAN está pronta para tirar todas as suas dúvidas sobre os nossos produtos.']
- var cont_2 = ['Si lo prefiere, envíenos sus datos y comentarios a través del formulario que se encuentra en  este sitio.', 'Se preferir, envie-nos os seus dados através do formulário que se encontra neste site.']
- var cont_3 = ['O si no, con gusto le atenderemos ya sea vía telefónica o personalmente en nuestra sucursal.', 'Ou caso contrário, teremos prazer em atende-los por telefone u pessoalmente em nosso escritório.']

- var form_name = ['Nombre', 'Nome']
- var form_tel = ['Teléfono', 'Telefone']
- var form_mail = ['Correo electrónico', 'Correio eletrônico']
- var form_city = ['Ciudad', 'Cidade']
- var form_com = ['Comentarios', 'Comentários']
- var form_btn = ['Enviar', 'Enviar']

- var products = {}

- products['bomba-pi-50'] = [[],[]]
- products['bomba-pi-50'][0] = ['Bomba PI-50', 'La bomba sanitaria <strong>MURZAN PI-50</strong>, maneja el más amplio rango de de viscosidades y partículas con tamaños de hasta 6" (15cm). Aprobada por la FDA.', 'kt3Bfujf8B8']
- products['bomba-pi-50'][1] = ['Bomba PI-50', 'A bomba sanitária <strong>MURZAN PI-50</strong> trabalha com uma ampla gama de viscosidades e partículas com tamanhos de até 6”; Certificações aprovadas pelo FDA, USDA, EHEDG, CE e A3; La bomba sanitaria MURZAN PI-50, maneja el más amplio rango de de viscosidades y partículas con tamaños de hasta 6" (15cm). Aprobada por la FDA.', 'kt3Bfujf8B8']

- products['bomba-po-50'] = [[],[]]
- products['bomba-po-50'][0] = ['Bomba PO-50', 'La bomba sanitaria <strong>MURZAN PO-50</strong> esta especialmente diseñada para las necesidades de la industria avícola. Aprobada por la FDA.', 'CMZUXyYdX2g']
- products['bomba-po-50'][1] = ['Bomba PO-50', 'La bomba sanitaria <strong>MURZAN PO-50</strong> esta especialmente diseñada para las necesidades de la industria avícola. Aprobada por la FDA.', 'CMZUXyYdX2g']
